

  <div class="footer" id="footer">
    <div class="container-fluid" style="text-align: center !important; height: 140px; margin-bottom: 0px; padding-bottom: 0px; border-bottom: 0px;">
      <div class="arrow bounce" style="align:center; padding-top: 40px !important; margin:0px;">
        <a class="btn btn-dark scrollup" id="go-up" href="#" data-toggle="tooltip" data-placement="top" title="Go up" style="background-color: rgba(0, 0, 0, 0); border-width: 0;"> <img src="/images/arrow-up.png" alt="" style="width: 30px;"> </a>
      </div>
      <div class="container-fluid-contact" align="center" style="color: white; margin-top: 10px;">
        <hr>
        <span style="background-color: rgba(0, 0 ,0, 0.6); height: 100px; margin-bottom: 10px;">
          <h6 style="margin: 0px;">
            Made by <b>Vedant Nandoskar</b>. Reach out to me on my <a class="in-para-link" href="https://www.github.com/Vedant1202" target="_blank">Github</a>.
          </h6>
        </span>
      </div>
    </div>
  </div>


  </body>

</html>
