

  <div class="footer">
    <div class="container" style="text-align: center !important; height: 140px; margin-bottom: 0px; padding-bottom: 0px; border-bottom: 0px;">
      <div class="arrow bounce" style="align:center; padding-top: 40px !important; margin:0px;">
        <a class="btn btn-dark scrollup" id="go-up" href="#" data-toggle="tooltip" data-placement="top" title="Go up" style="background-color: rgba(0, 0, 0, 0); border-width: 0;"> <img src="/images/arrow-up.png" alt="" style="width: 30px;"> </a>
      </div>
      <!-- <span style="margin-top: 50px !important;">Made with love by vedant</span> -->
    </div>
  </div>

  <script type="text/javascript" src="/js/landing.js"></script>

  </body>

</html>
